# Test files
*.db

# Secrets
.env
.session_key*

# Infrastructure
.tox
.venv
dependencies/
typings

# Reporting
htmlcov
.coverage
.coverage.*
lcov.info

# Cache
**/__pycache__
**/.cache
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.pre-commit-cache/

# Generated on packaging
# requirements.txt
*.egg-info
dist
